//
// Under The Limits Layout style
// --------------------------------------------------

@import '../../style/variables/variables';

/** @define UnderTheLimits */

.UnderTheLimits {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: radial-gradient( farthest-corner at 100% 100%, #0e4a70, #031723 );
  color: white;
  text-align: center;
}

.UnderTheLimits-content {
  z-index: 1;
  width: 100%;
  height: calc( 100vh - #{$top-app-bar-height} );
}

.UnderTheLimits-cardsBackground {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;

  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d( 1.33, 1.33, 1.33 );
    transform-origin: center 40%;
    animation: bckgrdEntrance 6s ease-out;
    background-image: url( '/public/images/CardsBckgrd.svg' );
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
  }
}

@keyframes bckgrdEntrance {
  from {
    transform: scale3d( .1, .1, .1 );
    animation-timing-function: cubic-bezier( .55, .055, .675, .19 );
    opacity: 0;
  }

  8% {
    transform: scale3d( .9, .9, .9 );
    animation-timing-function: cubic-bezier( .175, .885, .32, 1 );
    opacity: .75;
  }
}
