//
// Top App Bar style
// --------------------------------------------------

@import '../../style/variables/variables';

/** @define TopAppBar */

.TopAppBar {
  display: flex;
  z-index: 9;
  height: $top-app-bar-height;
  padding: 16px;
  overflow: visible;
  background: linear-gradient( 45deg, rgba( #135c7e, .8 ), rgba( #082f48, .8 ) );
  box-shadow: 0 3px 6px rgba( 0, 0, 0, .16 ), 0 3px 6px rgba( 0, 0, 0, .23 );
}

.TopAppBar-logo {
  height: 62px;
  filter: drop-shadow( 0 20px 30px rgba( #031723, .75 ) );
}
